@import '../../styles/variables';

.btn-back {
  background-color: white;
  color: $text-color;
  border: 1px solid $border-color;
  padding: 8px 16px;
  font-size: 0.9rem;
  border-radius: $border-radius;
  cursor: pointer;
  transition: $transition;
  box-shadow: $shadow-sm;
  
  &:hover {
    background-color: $bg-light;
    color: $primary-color;
    border-color: $primary-color;
    box-shadow: $shadow-md;
  }
}
